/* Global */

:root {
  --primary-color: #7600ff;
  --primary-color-light: #851aff;
  --primary-color-dark: #6b00e6;

  --secondary-color: #29b6f6;
  --primary-text-color: #222;
}

* {
  color: var(--primary-text-color);
  font-family: "Andika New Basic", sans-serif;
  font-size: large;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--primary-color);
}
