.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 3px;
  padding: 0 0.8rem;
  cursor: pointer;
  margin: 0.3rem 0.5rem;
}

.button:hover {
  background-color: var(--primary-color);
  color: white;
}

.text-center {
  text-align: center;
}

.full-page-height {
  height: 100vh;
}

.fd-column {
  flex-direction: column;
}

.pl-sm {
  padding-left: 5px;
}
.pr-sm {
  padding-right: 5px;
}
.pt-sm {
  padding-top: 5px;
}
.pb-sm {
  padding-bottom: 5px;
}

.centerMargin {
  margin-left: auto;
  margin-right: auto;
}

.maxWidth1000 {
  max-width: 1000px;
}
